.post-card
  display: block
  width: 500px
  padding: 15px 15px 30px
  background-color: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.5)

.post-card__header
  display: flex
  padding-bottom: 10px

.author-avatar
  width: 32px
  height: 32px
  background-color: #d6d5d5
  border-radius: 50%

.post-introducing-info
  padding-left: 15px

.post-place
  font-style: italic
  font-size: 12px

.post-card__photo
  width: 100%
  height: 400px
  background-color: #000

.post-card__actions
  padding-top: 5px
  padding-bottom: 5px

.action-icon
  margin-right: 5px
  margin-left: 5px
  font-size: 20px
  &:last-child
    float: right
  &.--liked
    color: red


.likes
  padding-bottom: 3px
  font-weight: 700
  font-size: 14px


.author-description
  padding-bottom: 3px

.author-link,
.hashtag
  text-decoration: none

.author-name
  margin-right: 10px
  font-weight: 700
  font-size: 15px
  color: black

.hashtag
  color: #4444c1
  margin-left: 4px
  &:first-child
    margin-left: 0
  &:after
    content: ','
  &:last-child:after
    display: none

.post-card__commemts
  padding-bottom: 3px

.post-card__time
  font-weight: 300
