<div class="post-card">
  <header class="post-card__header">
    <div class="author-avatar"></div>

    <div class="post-introducing-info">
      <div class="author-name">@{{post.authorName}}</div>
      <div class="post-place">{{post.postPlace}}</div>
    </div>
  </header>
  <div class="post-card__photo-block">
    <img src="{{post.photoUrl}}"
         alt="{{post.authorName}}"
    class="post-card__photo">
  </div>
  <div class="post-card__actions">
    <span class="action-icon"
          [class.--liked]="post.liked">
      <i class="far fa-heart"></i>
    </span>

    <span class="action-icon">
      <i class="far fa-comment"></i>
    </span>

    <span class="action-icon">
      <i class="fas fa-location-arrow"></i>
    </span>

    <span *ngIf="!post.addedToSaved" class="action-icon">
      <i class="far fa-bookmark"></i>
    </span>
  </div>
  <div class="post-card__info">
    <div class="likes">
      {{post.likes}} likes
    </div>

    <div class="author-description">
      <span class="author-name">@{{post.authorName}}</span>

      <span class="author-text">
        <a *ngFor="let hashtag of post.hashtags"
           href="{{hashtag}}"
           class="hashtag">
          #{{hashtag}}
        </a>

        {{post.description}}
      </span>
    </div>
  </div>
  <div class="post-card__commemts">
    comments
  </div>
  <div class="post-card__time">
    {{post.date}}
  </div>
</div>
