<div class="post-card">
  <header class="post-card__header">
    <div class="author-avatar"></div>

    <div class="post-introducing-info">
      <div class="author-name">@dmitryZiabko</div>
      <div class="post-place">Minsk</div>
    </div>
  </header>
  <div class="post-card__photo"></div>
  <div class="post-card__actions">
    <span class="action-icon">
      <i class="far fa-heart"></i>
    </span>

    <span class="action-icon">
      <i class="far fa-comment"></i>
    </span>

    <span class="action-icon">
      <i class="fas fa-location-arrow"></i>
    </span>

    <span class="action-icon">
      <i class="far fa-bookmark"></i>
    </span>
  </div>
  <div class="post-card__info">
    <div class="likes">
      88,985 likes
    </div>

    <div class="author-description">
      <span class="author-name">@dmitryZiabko</span>

      <span class="author-text">
        <a href="#" class="hashtag">#CCCCCC</a>

        <a href="#" class="hashtag">#HHHHHHH</a>
      </span>
    </div>
  </div>
  <div class="post-card__commemts">
    comments
  </div>
  <div class="post-card__time">
    5m ago
  </div>
</div>
