<div class="auth-container">
  <div class="auth-card">
    <form novalidate [formGroup]="form" (ngSubmit)="authenticate(form)">
      <input  type="name"
              name="username"
              formControlName="username"
              required
              placeholder="Name"/>

      <input  type="password"
              name="password"
              formControlName="password"
              required
              placeholder="Password"/>

      <button type="submit">ZZZZ</button>
    </form>
  </div>
</div>
